.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 56px 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    h1 {
      a {
        font-family: "Dancing Script", cursive;
        font-size: 28px;
        font-weight: 700;
        color: $whiteColor;
        text-decoration: none;
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      justify-content: flex-start;
      padding-right: 42px;

      li {
        list-style: none;
        margin: 0 19.7px;

        a {
          @include poppinsFontFamily(500);
          font-size: 12px;
          color: $whiteColor;
          text-transform: uppercase;
          position: relative;
          letter-spacing: .1em;

          &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: #fff;
            opacity: 0;
            transition: width .5s ease;
          }

          &:hover {
            &:after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.l-header + section {
  padding-top: 70px;
}
